body {
    font-family: Candara Light;
    color: cyan;
    
}

h1 {
    text-align: center;
    font-family: algerian;
    font-weight: 100;
    color: rgb(195, 160, 0);
    text-transform: uppercase;
    text-shadow: black;
}

#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display:none;
}

.button {
    border:4px solid black;
    border-radius:5px;
    width: 40px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #ff0000;
    color: #00fff2;
    margin: 0 2px 0 2px;
    font-size: large;
    font-weight: bolder;
    
}

.button.active {
    background-color: ;
    color: #525252;
}

button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}

#container {
    width: 29%;
    margin:auto;
    background-position: center;
    padding: 0 25px 40px 10px;
    background: URL("image.png") center no-repeat;
    border:4px solid rgb(38, 0, 165);
    background-repeat: no-repeat;
    background-size:  auto;
    border-radius:5px;
    color: #b300ff;
    font-weight: bold;
    box-shadow: 10px 10px 10px #888;
    height: 320px;

}

@media only screen and (max-width: 1000px){
    #container{
        width: 55%;
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
        background: URL("image.png")center no-repeat;
    }
}

@media only screen and (max-width: 300px){
    #container{
        width: 100%;
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
        background: URL("image.png")center no-repeat;
    }
}
@media only screen and (max-width: 500px){
    #container{
        width: 100%;
        background-attachment: scroll;
        background-position: center;
        background-size: 100%;
        background: URL("image.png")center no-repeat;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 100px;
}
